@using HairSalon.Models
@model HairSalon.Models.Stylist

@{
    ViewData["Title"] = "Snappy Snips | Stylist Details";
    Layout = "_Layout";
}

<div class="container">
    <h3>@Model.FirstName @Model.LastName</h3>
    <p>Phone: @Model.Phone</p>
    <p>Clients: </p>
    <ul class="salon-list">
        @foreach (var client in ViewBag.ClientList)
        {
            <li><img src="/img/anon-person.png" class="icon-thumb"><a href="/clients/@client.ClientId">@client.FirstName @client.LastName</a></li>
        }
    </ul>
    <hr />
    <a href="/stylists" class="btn btn-lg btn-info">Back</a>
</div>