@using HairSalon.Models
@model Client

@{
    ViewData["Title"] = "Snappy Snips | Edit Client";
    Layout = "_Layout";
}

<div class="container">
    <h1>Edit Client</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ClientId)
        <div class="form-group">
            <label asp-for="FirstName"><h4>First Name:</h4></label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "true" })
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"><h4>Last Name:</h4></label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "true" })
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"><h4>Email:</h4></label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "true" })
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone"><h4>Phone:</h4></label>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", required = "true" })
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="StylistId"><h4>Stylists:</h4></label>
            @Html.DropDownList("StylistId", null, "Select a Stylist", new { @class = "form-control", required = "true" })
            <span asp-validation-for="StylistId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-info">Update Client</button>
        <a href="/clients" class="btn btn-lg btn-info">Back</a>
    }
</div>
