@using HairSalon.Models
@model HairSalon.Models.Client

@{
    ViewData["Title"] = "Snappy Snips | Client Details";
    Layout = "_Layout";
}

<div class="container">
    <h3>@Model.FirstName @Model.LastName</h3>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <p>Stylist: 
        <a href="/stylists/@ViewBag.Stylist.StylistId">@ViewBag.Stylist.FirstName @ViewBag.Stylist.LastName</a>
    </p>
    <hr />
    <a href="/clients" class="btn btn-lg btn-info">Back</a>
</div>